{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block content %}
<div class="form-wrapper">
  <div class="card-content">
    <h1 class="form-title">Create an Account</h1>
    <p class="form-subtitle"><em>Join the Fishing Log community</em></p>

    <form method="post" action="{% url 'account_signup' %}" class="signup-form">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="form-group">
        <label for="id_username">Username:</label>
        {{ form.username }}
      </div>

      <div class="form-group">
        <label for="id_password1">Password:</label>
        {{ form.password1 }}
      </div>

      <div class="form-group">
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
      </div>

      <div class="helptext-wrapper">
        {{ form.password1.help_text }}
      </div>

      <button type="submit" class="btn btn-orange">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}
